* {
  box-sizing: border-box;  /** include content + border + padding in box size **/
  font-family : 'Crimson Pro', serif;
  font-size : 12pt ;
}
div 
{ 
   box-sizing: border-box;  /** include content + border + padding in box size **/
}
body
{
   font-size   :  12pt ;
   margin      : 2em ;
   border      : 0pt ;
   padding     : 0pt ;
   /**width   : 100% ; **/
}
h1, h2, h3
{
   font-family : 'Marcellus SC', sans-serif ;
   font-weight : bold ;
}
h1 
{
   font-size : x-large ;
}
h2 
{
   font-size : large ;
}
button
{
   font-size : inherit ;
   background-color : rgb(80%,80%,81%);
}

#intro-outer-div
{
   width            : 100% ;
   display          : flex ;
   flex-direction   : row ;
   justify-content  : center ;
   /**background-color: rgb(100%,70%,70%); **/
   border-bottom : 2px ;
   border-bottom-style: solid ;
   border-bottom-color: rgb(0%,0%,0%);
}
#intro-inner-div
{
   max-width : 800px ;
   /*** background-color: rgb(100%,90%,90%); **/
}

#footer-outer-div
{
   width             : 100% ;
   display           : flex ;
   flex-direction    : row ;
   justify-content   : center ;
   /** background-color  : rgb(100%,70%,70%); **/
   border-top        : 2px ;
   border-top-style  : solid ;
   border-top-color  : rgb(0%,0%,0%);
}
#footer-inner-div
{
   padding-top : 5px ;
   /** background-color: rgb(100%,90%,90%); **/
}

#divs-row 
{
   display        : flex ; /** makes the two divs inside 'divs-row' to be in a line.. **/
   flex-direction : row ;
}
.column
{
  padding : 10px;
}

#countries-table-external-div
{
   /** width  : 20% ; <--- review **/
   /** max-width : 30% ; **/
   border-radius    : 10px ;
   background-color : rgb(90%,90%,92%) ;
   padding          : 10px ;
   border           : 0px ;
   margin           : 10px ;
   display          : flex ;
   flex-direction   : column ;
   
}
.ctd-elem   /** countries table div element **/
{
   width      : 100% ;
   margin-top : 10px ;
}
#graphs-container-external-div
{
  flex-grow : 100 ; /** makes this div to expand to the right of the page **/
  padding   : 10px ;
  border    : 0px ;
  margin    : 10px ;
  
}


#countries-table-external-div  h2 
{ 
   padding    : 0pt ; 
   margin-top : 2pt ;
}
#graphs-container-external-div h2 
{ 
   padding : 0pt ; 
   margin-top : 2pt ;
}

#graphs-container
{
   width          : 100% ;
   display        : flex;
   flex-direction : row ;
   flex-wrap      : wrap ;
}
.graph-canvas-div
{
   display : flex ;
   height  : 85% ;
}
.graph-canvas
{
   height : 100% ;
}
.graph-box
{
   width         : 100% ;   /*** review this **/
   margin        : 1ex ;
   border        : 2px ;
   border-style  : solid ;
   border-radius : 3pt ;
   border-color  : rgb(130,20,20) ;
   padding       : 1ex ;
   background-color : rgb(251,251,255);
   resize        : both ;
   overflow      : scroll ;
}
.graph-close
{
   float   :  right ;
   cursor  :  pointer;
}
#load-button
{
   width : 100% ;
}
#countries-table
{
  border-collapse : collapse;
  border-width    : 0px ;
  overflow-y      : auto ;
  height          : 10cm ;
  resize          : vertical ;
}

#countries-table td, #countries-table th
{
   border-left-width   : 0px ;
   border-right-width  : 0px ;
   border-top    : 1px solid rgb(80%,80%,80%);
   border-bottom : 1px solid rgb(80%,80%,80%);
   padding       : 8px;
}
#countries-table tr:nth-child(even)
{
   background-color: rgb(95%,95%,97%);
}
#countries-table tr
{
   border-width : 0px ;
}
#countries-table tr:hover
{
   background-color: rgb(100%,100%,95%);
}
#countries-table th
{
  font-weight      : bold ;
  padding-top      : 12px;
  padding-bottom   : 12px;
  text-align       : left;
  background-color : rgb(70%,70%,70%);
}
#head-cases-cell, #head-deaths-cell
{
   text-align : right !important ;
}
.cases-cell, .deaths-cell
{
   text-align : right ;
   cursor     : pointer  ;
}
